body,
html {
  height: 100%;
  background-color: #364652;
  margin: 0px;
}
.header-bar {
  text-align: center;

  height: 500px;
}

.header-image {
  height: 100%;
  width: 100%;
}

.header {
  font-family: "Bebas Neue", cursive;
  font-size: 550%;
  color: #eee5e9;
}

.sub-header {
  font-family: "Barlow Condensed", sans-serif;
  color: #eee5e9;
  font-size: 300%;
  margin-top: -4%;
}

p {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #eee5e9;
  font-size: 200%;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/newspaper-header2.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.info-header {
  text-align: center;
  font-size: 250%;
  font-family: "Bebas Neue", cursive;
  color: #eee5e9;
  transform: translate(0%, 61%);
}

.quiz-header {
  text-align: center;
  font-size: 250%;
  font-family: "Bebas Neue", cursive;
  color: #eee5e9;
  width: 95%;
  /* transform: translate(0%, 61%); */
}

.info {
  background-color: #364652;
  height: 75%;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body {
  font-family: "Montserrat", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(34.375px);
}
.honeycomb-cell {
  flex: 0 1 250px;
  max-width: 250px;
  height: 137.5px;
  margin: 65.4761904762px 12.5px 25px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
}
.honeycomb-cell__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.75em;
  transition: opacity 350ms;
}
.honeycomb-cell__title > small {
  font-weight: 300;
  margin-top: 0.25em;
}
.honeycomb-cell__image {
  object-fit: cover;
  object-position: center;
}
.honeycomb-cell::before,
.honeycomb-cell::after {
  content: "";
}
.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell__image {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.honeycomb-cell::before {
  background: #fff;
  transform: scale(1.055);
}
.honeycomb-cell::after {
  background: #3ea0eb;
  opacity: 0.5;
  transition: opacity 350ms;
}
.honeycomb-cell:hover .honeycomb-cell__title {
  opacity: 0;
}
.honeycomb-cell:hover::before {
  background: #f40076;
}
.honeycomb-cell:hover::after {
  opacity: 0;
}
.honeycomb__placeholder {
  display: none;
  opacity: 0;
  width: 250px;
  margin: 0 12.5px;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 64px;
}

/* Clear floats */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 2/3 column */
.column-66 {
  float: left;
  width: 50%;
  padding: 20px;
}

/* 1/3 column */
.column-33 {
  float: left;
  width: 50%;
  padding: 20px;
  background-color: #1178d8;
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
}

.small-header {
  font-family: "Bebas Neue", cursive;
  font-size: 225%;
  color: #eeefe9;
}

.how-to {
  background-color: navy;
}

.about {
  background-color: orangered;
  height: 40%;
  margin-bottom: 60px;
}

.info-tab {
  background-color: white;
  height: 75%;
  border-color: #0159f4;
  border-width: thick;
  border-style: solid;
}

.title-bar {
  background-color: #0159f4;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  white-space: nowrap;
}

.folder {
  margin-top: 5%;
  margin-left: 15%;
  background-color: bisque;
  border-style: none;
  height: 8%;
  width: 200px;
  align-content: center;
  cursor: pointer;
}

.left-pane {
  float: left;
  height: 91%;
  margin-top: -24px;
  width: 25%;
}

.def-folder {
  margin-top: 15%;
  margin-left: 5%;
  background-color: bisque;
  border-style: none;
  height: 8%;
  width: 200px;
  align-content: center;
  cursor: pointer;
}

.def-folder:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.title-close {
  float: right;
  display: inline-block;
}

.content-image {
  margin-top: 13%;
  margin-left: 5%;
}

.content-p {
  color: black;
  white-space: inherit;
  margin-left: 5%;
}

.content-title {
  margin-left: 3%;
}

.content-pane {
  margin-top: 25px;
  width: 70%;
  height: 92%;
  float: left;
}

.content-right-pane {
  float: left;
  width: 0%;
  height: 92%;
  align-items: center;
}

.folder-img {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 5%;
}

.folder-text {
  float: left;
  font-size: 16px;
  margin-left: 10px;
}

.folder-text-smaller {
  float: left;
  font-size: 10px;
  margin-left: 10px;
}

.folder:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* ------ Quiz ------- */

.question-header {
  font-family: "Poppins", sans-serif;
  color: white;
}

.status {
  float: left;
  margin-top: 25px;
  margin-right: 10px;
}

.question-button {
  background-color: #464d4e; /* Green background */
  border: 1px solid #464d4e; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 75%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  margin-left: 15%;
  margin-right: 14%;
  margin-top: 6px;
  font-size: 15px;
}

.question-button:hover {
  background-color: #808080;
}

.question-button-container {
  align-content: center;
}

.reason {
  text-align: center;
  margin-left: 15px;
}

/* ----- Media Queries ----- */

@media screen and (max-width: 1464px) {
  .content-right-pane {
    display: none;
  }
  .quiz-header {
    width: 100%;
    float: right;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 1464px) {
  .header {
    font-size: 350%;
  }

  .sub-header {
    font-size: 250%;
  }
}

@media screen and (max-width: 1107px) {
  .info-header {
    font-size: 300%;
  }
  .info-text {
    font-size: 150%;
  }

  .content-pane {
    width: 75%%;
  }
  .content-title {
    font-size: 150%;
    margin-left: 40%;
  }
  .content-p {
    font-size: 100%;
    margin-left: 45%;
  }
}

@media screen and (max-width: 500px) {
  .info-header {
    font-size: 300%;
  }
  .info-text {
    font-size: 125%;
  }
  .info-header-folder {
    font-size: 125%;
  }

  .left-pane {
    margin-top: 25%;
  }
  .content-pane {
    margin-top: 25%;
    float: left;
    width: 100%;
    margin-left: -25px;
  }
  .content-right-pane {
    width: 0px;
  }
  .header {
    font-size: 250%;
  }

  .sub-header {
    font-size: 150%;
  }
  .how-to {
    padding: none;
  }
}
